name: verify
on: [ push, pull_request ]

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: golangci/golangci-lint-action@v2
      with:
        # must be specified without patch version
        version: v1.46
        # Only show new issues for a pull request.
        only-new-issues: true

  gomod:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: verify go.mod/go.sum
      run: |
        go mod tidy
        git diff --exit-code
